# Default ignored files
/shelf/
/workspace.xml

# Virtual and Development Environment
.venv/
venv/
env/
.env
test.db

# PyCharm / JetBrains IDE stuff
.idea/

# Python cache & bytecode
__pycache__/
*.py[cod]

# OS junk (looking at you macOS)
.DS_Store
Thumbs.db
